<?xmlbeforeAdvice version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.webbdong.beanfactory.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.webbdong.beanfactory.org/schema/aop"
       xsi:schemaLocation="http://www.webbdong.beanfactory.org/schema/beans
                           http://www.webbdong.beanfactory.org/schema/beans/beanfactory-beans.xsd
                           http://www.webbdong.beanfactory.org/schema/aop
                           http://www.webbdong.beanfactory.org/schema/aop/beanfactory-aop.xsd">
    
    <bean id="school" class="lesson09.xmlbeanfactory.bean.School">
        <constructor-arg index="1" value="1636"/>
        <constructor-arg index="0" value="哈佛大学"/>
    </bean>

    <bean id="student" class="lesson09.xmlbeanfactory.bean.Student">
        <property name="name" value="比尔盖茨"/>
        <property name="age" value="66" />
    </bean>

    <bean id="schoolAOP" class="lesson09.xmlbeanfactory.aop.SchoolAspect">
    </bean>

    <aop:config>
        <aop:pointcut id="schoolAOPPointCut" ref="student"/>
        <aop:aspect ref="schoolAOP" pointcut-ref="schoolAOPPointCut">
            <aop:before method="beforeAdvice"/>
            <aop:after method="afterAdvice"/>
            <aop:after-returning method="afterReturning"/>
            <aop:after-throwing method="afterThrowing"/>
            <aop:around method="around"/>
        </aop:aspect>
    </aop:config>

</beans>