<?xmlbeforeAdvice version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.webbdong.beanfactory.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.webbdong.beanfactory.org/schema/aop"
       xsi:schemaLocation="http://www.webbdong.beanfactory.org/schema/beans
                           http://www.webbdong.beanfactory.org/schema/beans/beanfactory-beans.xsd
                           http://www.webbdong.beanfactory.org/schema/aop
                           http://www.webbdong.beanfactory.org/schema/aop/beanfactory-aop.xsd">
    
    <bean id="school" class="lesson09.xmlbeanfactory.bean.School">
        <constructor-arg index="1" value="1636"/>
        <constructor-arg index="0" value="哈佛大学"/>
    </bean>

    <bean id="student" class="lesson09.xmlbeanfactory.bean.Student">
        <property name="name" value="比尔盖茨"/>
        <property name="age" value="66" />
    </bean>

    <bean id="klass" class="lesson09.xmlbeanfactory.bean.Klass">
        <property name="name" value="Hello Spring"/>
    </bean>

    <bean id="studentAspect" class="lesson09.xmlbeanfactory.aspect.StudentAspect">
    </bean>

    <bean id="schoolAspect" class="lesson09.xmlbeanfactory.aspect.SchoolAspect">
    </bean>

    <aop:config>
        <aop:pointcut id="studentAOPPointCut" ref="student"/>
        <aop:pointcut id="schoolAOPPointCut" ref="school"/>

        <aop:aspect ref="studentAspect" pointcut-ref="studentAOPPointCut">
            <aop:before method="beforeAdvice1"/>
            <aop:before method="beforeAdvice2"/>
            <aop:after method="afterAdvice1"/>
            <aop:after method="afterAdvice2"/>
            <aop:after-returning method="afterReturning1"/>
            <aop:after-returning method="afterReturning2"/>
            <aop:after-throwing method="afterThrowing1"/>
            <aop:after-throwing method="afterThrowing2"/>
            <aop:around method="around1"/>
            <aop:around method="around2"/>
        </aop:aspect>

        <aop:aspect ref="schoolAspect" pointcut-ref="schoolAOPPointCut">
            <aop:before method="beforeAdvice"/>
            <aop:after method="afterAdvice"/>
            <aop:after-returning method="afterReturning"/>
            <aop:after-throwing method="afterThrowing"/>
            <aop:around method="around"/>
        </aop:aspect>
    </aop:config>

</beans>